@media only screen and (max-width: 768px) {
    .venture-veteran-banner {
        height: 280px;
    }
    .venture-veteran-banner-overlay {
        height: 280px;
    }
    .venture-veteran-banner-overlay .span {
        width: 55%;
        font-size: 35px;
        padding-top: 60px;
        line-height: 62px;
    }
    .what-we-do {
        padding: 15px 0;
        line-height: 30px;
        font-size: 13px;
    }
    .about-p {
        line-height: 35px;
        font-size: 15px;
    }
    footer {
        height: 114px;
    }
    .footer-content {
        padding-top: 20px;
    }
    .footer-content span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    .venture-veteran-banner {
        height: 280px;
    }
    .venture-veteran-banner-overlay {
        height: 280px;
    }
    .venture-veteran-banner-overlay .span {
        width: 100%;
        font-size: 35px;
        padding-top: 61px;
        line-height: 55px;
    }
    .what-we-do {
        padding: 15px 0;
        line-height: 30px;
        font-size: 13px;
    }
    .about-p {
        line-height: 35px;
        font-size: 15px;
    }
    footer {
        height: 114px;
    }
    .footer-content .float-right {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .venture-veteran-banner {
        height: 280px;
    }
    .venture-veteran-banner-overlay {
        height: 280px;
    }
    .venture-veteran-banner-overlay .span {
        width: 100%;
        font-size: 30px;
        padding-top: 61px;
        line-height: 50px;
    }
    .what-we-do {
        padding: 15px 0;
        line-height: 30px;
        font-size: 13px;
    }
    .about-p {
        line-height: 30px;
        font-size: 14px;
    }
    footer {
        height: 114px;
    }
    .footer-content .float-right {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .venture-veteran-banner {
        height: 280px;
    }
    .venture-veteran-banner-overlay {
        height: 280px;
    }
    .venture-veteran-banner-overlay .span {
        width: 100%;
        font-size: 30px;
        padding-top: 61px;
        line-height: 50px;
    }
    .what-we-do {
        padding: 15px 0;
        line-height: 30px;
        font-size: 13px;
    }
    .about-p {
        line-height: 30px;
        font-size: 14px;
    }
    footer {
        height: 114px;
    }
    .footer-content .float-right {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .venture-veteran-banner {
        height: 280px;
    }
    .venture-veteran-banner-overlay {
        height: 280px;
    }
    .venture-veteran-banner-overlay .span {
        width: 100%;
        font-size: 25px;
        padding-top: 61px;
        line-height: 50px;
    }
    .what-we-do {
        padding: 15px 0;
        line-height: 30px;
        font-size: 13px;
    }
    .about-p {
        line-height: 30px;
        font-size: 14px;
    }
    footer {
        height: 114px;
    }
}


/*our-work */

@media only screen and (max-width: 768px) {
    .title-holder {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 425px) {
    .our-work-banner {
        height: 340px;
    }
    .our-work-overlay {
        height: 340px;
    }
    .title-holder h2 {
        font-size: 37px;
    }
    .right-content p {
        line-height: 40px;
    }
    .left-content p {
        line-height: 40px;
    }
    .left-width {
        width: 100%;
    }
    .left-banner {
        background-repeat: no-repeat;
    }
    .right-width {
        width: 100%;
    }
    .formation-wrap {
        height: 790px;
    }
    footer {
        height: 150px;
    }
    .footer-content .float-right {
        margin-right: 33px;
    }
}

@media only screen and (max-width: 375px) {
    .our-work-banner {
        height: 340px;
    }
    .our-work-overlay {
        height: 340px;
    }
    .title-holder h2 {
        font-size: 37px;
    }
    .left-width {
        width: 100%;
    }
    .left-banner {
        background-repeat: no-repeat;
    }
    .right-width {
        width: 100%;
    }
    .formation-wrap {
        height: 790px;
    }
    footer {
        height: 150px;
    }
    .footer-content {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 360px) {
    .our-work-banner {
        height: 340px;
    }
    .our-work-overlay {
        height: 340px;
    }
    .title-holder h2 {
        font-size: 37px;
    }
    .left-width {
        width: 100%;
    }
    .left-banner {
        background-repeat: no-repeat;
    }
    .right-width {
        width: 100%;
    }
    .formation-wrap {
        height: 790px;
    }
    footer {
        height: 150px;
    }
    .footer-content {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 320px) {
    .our-work-banner {
        height: 340px;
    }
    .our-work-overlay {
        height: 340px;
    }
    .title-holder h2 {
        font-size: 37px;
    }
    .left-width {
        width: 100%;
    }
    .left-banner {
        background-repeat: no-repeat;
    }
    .right-width {
        width: 100%;
    }
    .formation-wrap {
        height: 790px;
    }
    footer {
        height: 150px;
    }
    .footer-content {
        margin-top: -10px;
    }
}


/*our-ethos */

@media only screen and (max-width: 768px) {
    .ethos-banner {
        height: 380px;
    }
    .our-work-overlay {
        height: 380px;
    }
    .ethos-container {
        display: none;
    }
    .title-holder {
        margin-top: 177px;
    }
    .first-wrap {
        margin-top: -5px;
    }
    .mentors-container {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .mobile-view {
        display: block;
    }
    .mobile-views {
        display: block;
    }
    .mobile-view-img {
        height: 300px;
    }
    .mobile-view-imgs {
        height: 300px;
    }
    .text-wrap .text {
        line-height: 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    .ethos-banner {
        height: 380px;
    }
    .our-work-overlay {
        height: 380px;
    }
    .ethos-container {
        display: none;
    }
    .title-holder {
        margin-top: 177px;
    }
    .mentors-container {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .mobile-view {
        display: block;
    }
    .mobile-views {
        display: block;
    }
    .mobile-view-img {
        height: 300px;
    }
    .mobile-view-imgs {
        height: 300px;
    }
    .text-wrap .text {
        line-height: 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    .ethos-banner {
        height: 380px;
    }
    .our-work-overlay {
        height: 380px;
    }
    .ethos-container {
        display: none;
    }
    .title-holder {
        margin-top: 140px;
    }
    .mentors-container {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .mobile-view {
        display: block;
    }
    .mobile-views {
        display: block;
    }
    .mobile-view-img {
        height: 300px;
    }
    .mobile-view-imgs {
        height: 300px;
    }
    .text-wrap .text {
        line-height: 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 360px) {
    .ethos-banner {
        height: 380px;
    }
    .our-work-overlay {
        height: 380px;
    }
    .ethos-container {
        display: none;
    }
    .title-holder {
        margin-top: 140px;
    }
    .mentors-container {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .mobile-view {
        display: block;
    }
    .mobile-views {
        display: block;
    }
    .mobile-view-img {
        height: 300px;
    }
    .mobile-view-imgs {
        height: 300px;
    }
    .text-wrap .text {
        line-height: 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .ethos-banner {
        height: 380px;
    }
    .our-work-overlay {
        height: 380px;
    }
    .ethos-container {
        display: none;
    }
    .title-holder {
        margin-top: 140px;
    }
    .mentors-container {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .mobile-view {
        display: block;
    }
    .mobile-views {
        display: block;
    }
    .mobile-view-img {
        height: 300px;
    }
    .mobile-view-imgs {
        height: 300px;
    }
    .text-wrap .text {
        line-height: 30px;
        font-size: 14px;
    }
}


/* contact */

@media only screen and (max-width: 768px) {
    .cards {
        width: 100%;
    }
    .card-titles {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .contact-banner {
        height: 300px;
    }
    .contact-overlay {
        height: 300px;
    }
    .cards {
        width: 100%;
    }
    .card-titles {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .contact-banner {
        height: 300px;
    }
    .contact-overlay {
        height: 300px;
    }
    .cards {
        width: 100%;
    }
    .card-titles {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .contact-banner {
        height: 300px;
    }
    .contact-overlay {
        height: 300px;
    }
    .cards {
        width: 100%;
    }
    .card-titles {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .contact-banner {
        height: 300px;
    }
    .contact-overlay {
        height: 300px;
    }
    .cards {
        width: 100%;
    }
    .card-titles {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}